* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

.header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

.product-section {
    text-align: center;
}

.image-container img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.product-info{
    margin-top: -300px;
    margin-bottom: 140px;
}

.product-info h1 {
    font-size: 2rem;
    margin: 1rem 0;
    color: white;
    font-weight: 900;
}

.preorder-btn {
    display: inline-block;
    padding: 0.8rem 2rem;
    margin-top: 1rem;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin-top: 0px;
}

.preorder-btn:hover {
    background-color: #555;
}

.description {
    margin-top: 2rem;
    font-size: 1.2rem;
    text-align: center;
    padding: 0 1rem;
}

.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
}
